body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.app {
  height: 100vh;
  width: 100vw;
  background: lightblue;
  overflow: hidden;
  text-align: center;
  padding-top: 100px;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}